.user-component {
    display: flex;
    margin: 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
}

.user-componet__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 20px;
}

.user-componet__subtilte {
    font-size: 15px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.user-componet__subtilte span {
    color: red;
}

.user-componet__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-componet__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-componet__avatar--mm {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

